<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../image/caridade.ico}" />
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../css/menu-customer.css" rel="stylesheet" />
<script type="text/javascript" src="../js/moderniz.2.8.1.js"></script>

</head>
<body>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>

	
	<div class="col-md-12">
		<nav></nav>
		<table id="document">
			<tr>
				<td><iframe src="http://docs.google.com/gview?url=https://nslcaridade.com.br/caridade/Diretrizes_NSL.pdf&embedded=true" style="width:600px; height:900px;" ></iframe></td>
			</tr>
		</table>
	</div>
</body>
</html>