<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../image/caridade.ico}" />
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../css/menu-customer.css" rel="stylesheet" />
<link href="../css/card-customer.css" rel="stylesheet" />
<script src="../js/card-customer.js"></script>

</head>
<body>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
	
<div class="container">
    <div class="row">    
        <div class="col-md-4 " th:each="calendario: ${calendario}">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9" th:if="${calendario.videos}" >
                    	<div th:each="videos: ${calendario.videos}">
							<iframe width="300" height="200" th:src="${videos.url}"></iframe>
						</div>
					</div>
					<div th:unless="${calendario.videos}">
						<div>
							<img width="300" height="200" th:src="@{../image/ImgSemVideo.png}"></img>
						</div>
					</div>
                </div><!-- card image -->
                <div class="card-content">
                    <!-- <span class="card-title" th:text=" ${calendario.dataCalendario}"></span> -->
                    <span class="card-title" th:text="${#temporals.format(calendario.dataCalendario, 'dd-MMM-yyyy')}"></span>
                    <p></p>
                    <span class="card-sub" th:text="${calendario.descricao}"></span>
                    <p></p>
                    <span class="card-text" th:each="bazar: ${calendario.bazar}" th:if="${bazar.descricao}" th:text="${bazar.descricao}"></span>
                    <span class="card-text" th:each="festa: ${calendario.festa}" th:if="${festa.descricao}" th:text="${festa.descricao}"></span>
                    <span class="card-text" th:each="bingo: ${calendario.bingo}" th:if="${bingo.descricao}" th:text="${bingo.descricao}"></span>
                    <span class="card-text" th:each="passeio: ${calendario.passeio}" th:if="${passeio.descricao}" th:text="${passeio.descricao}"></span>
                </div><!-- card content -->
            </div>
		</div>
	</div>
</div>
        
</body>
</html>