<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../../image/caridade.ico}" />
<link href="../../css/bootstrap.css" rel="stylesheet" />
<link href="../../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../../css/menu-customer.css" rel="stylesheet" />
<link href="../../css/card-customer.css" rel="stylesheet" />
<link href="../../css/fontes-customer.css" rel="stylesheet" />
<link href="../../css/map.css" rel="stylesheet" />
<script type="text/javascript" src="../../js/moderniz.2.8.1.js"></script>

</head>
<body>
	<header>
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: menu"></div>
	</header>
	
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="calendario: ${calendario}" style="height:400px">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9" th:if="${calendario.videos}" th:each="videos: ${calendario.videos}">
						<iframe width="300" height="200" th:allowfullscreen="allowfullscreen"
        												 th:mozallowfullscreen="mozallowfullscreen" 
        												 th:msallowfullscreen="msallowfullscreen" 
        											     th:oallowfullscreen="oallowfullscreen" 
        												 th:webkitallowfullscreen="webkitallowfullscreen" 
        												 th:src="${videos.url}"></iframe>
					</div>
					<div th:unless="${calendario.videos}">
						<img width="300" height="200" th:src="@{../../image/ImgSemVideo.png}"></img>
					</div>
                </div><!-- card image -->
                <div class="card-content">
                    <span class="card-title" th:text="${#temporals.format(calendario.dataCalendario, 'dd-MMM-yyyy')}"></span>
                    <p></p>
                    <span class="card-sub" th:text="${calendario.descricao}"></span>
                    <p></p>
                    <span class="card-text" th:each="bazar: ${calendario.bazar}" th:if="${bazar.descricao}" th:text="${bazar.descricao}"></span>
                    <span class="card-text" th:each="festa: ${calendario.festa}" th:if="${festa.descricao}" th:text="${festa.descricao}"></span>
                    <span class="card-text" th:each="bingo: ${calendario.bingo}" th:if="${bingo.descricao}" th:text="${bingo.descricao}"></span>
                    <span class="card-text" th:each="passeio: ${calendario.passeio}" th:if="${passeio.descricao}" th:text="${passeio.descricao}"></span>
                    <span class="card-text" th:each="retiro: ${calendario.retiro}" th:if="${retiro.descricao}" th:text="${retiro.descricao}"></span>
                </div><!-- card content -->
            </div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>