<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../image/caridade.ico}" />
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../css/menu-customer.css" rel="stylesheet" />
<link href="../css/fontes-customer.css" rel="stylesheet" />
<script type="text/javascript" src="../js/moderniz.2.8.1.js"></script>

</head>
<body>
	<header>
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: menu"></div>
	</header>
	<div class="container-fluid">
	
	<div style="text-align:center"><h4>Relatório de doação anual em Intens</h4></div>
		<table id="selecao" class="table table-condensed table-hover table-striped hidden-print" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
			<thead>
				<tr>
					<th>
						<select name="ano" class="w3-select w3-select w3-border w3-margin-bottom" id="ano" required>
							<option selected="selected"></option>
							<option value=""/>
						</select>
    				</th>
				</tr>
			</thead>
		</table>
		<div class="row">
			<div class="col-md-12">
			<table id="gridRel" class="table table-condensed table-hover table-striped" data-row-select="true" data-keep-selection="true">
			</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<div class="heart" id="AjaxLoader" ></div>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
</body>
<script src="../lib/jquery-1.11.1.min.js"></script>
	<script src="../dist/jquery.bootgrid.js"></script>
	<script src="../dist/jquery.bootgrid.fa.js"></script>
	<script src="../js/bootstrap.bundle.js"></script>
	<script src="../js/jquery.rowspanizer.js"></script>
<script>
iRowColM = 0;

function calculaItensMes(strJsonM){
	//console.log(JSON.stringify(strJsonM));
	iRowColM = 0;
	for ( var m = 0 ; m < strJsonM.length; m++){
		iRowColM += strJsonM[m].itensDoados.length;
	}
}

for( y = 2017; y <= 2500 ; y++){
	var optn = document.createElement("OPTION");
	optn.text = y;
	optn.value = y;
	if ( y == 2018 ){
		optn.selected = true;	
	}
	document.getElementById('ano').options.add(optn);
}

$(document).ready(function() {
	$('#AjaxLoader').hide();
	$('#ano').change(function() {
		$('#AjaxLoader').show();
		var anoSelecionado = $(this).children("option:selected").val();
		if ( document.getElementById("gridRel") ){
			var tableFull = document.getElementById("gridRel");
			tableFull.remove();
		}
		$.ajax({
			type: "GET",
			url: "anualItens/"+anoSelecionado,
			contentType: "application/json; charset=utf-8",
			success: function(resultado) {
			strJson = resultado;
			var iCount = 0;
 		    var body = document.getElementsByTagName("body")[0];

	        var tbl = document.createElement("table");
	        tbl.setAttribute("id", "gridRel");
	        tbl.setAttribute("class", 'table table-condensed table-hover table-striped');
	        var tblBody = document.createElement("tbody");
			var iRowTot = 0;
			var tblThInst   = document.createElement("th");
			tblThInst.setAttribute("style", 'border:1px solid black;background-color: #DFEFF1');
			var thTextInst = document.createTextNode("Instituição");
			tblThInst.appendChild(thTextInst);
			var tblThMes   = document.createElement("th");
			tblThMes.setAttribute("style", 'border:1px solid black;background-color: #DFEFF1');
			var thTextMes = document.createTextNode("Mês");
			tblThMes.appendChild(thTextMes);
			var tblThTp   = document.createElement("th");
			tblThTp.setAttribute("style", 'border:1px solid black;background-color: #DFEFF1');
			var thTextTp = document.createTextNode("Tipo e Quantidade");
			tblThTp.appendChild(thTextTp);
					
			tblBody.appendChild(tblThInst);
			tblBody.appendChild(tblThMes);
			tblBody.appendChild(tblThTp);
					
					
	        for (var i = 0; i < strJson.length; i++) {
	            // creates a table row
	        	var row = document.createElement("tr")
				var cell = document.createElement("td");
	            if ( i % 2 == 0 )
	            	cell.setAttribute("style", 'border:1px solid black;background-color: #EAEAEA');
	            else
	            	cell.setAttribute("style", 'border:1px solid black;background-color: #F6F6F6');
				var subCol = 1+strJson[i].mes.length;
				calculaItensMes(strJson[i].mes);
				iRowTot = subCol + iRowColM;
				cell.setAttribute("rowspan",iRowTot);
				var cellText = document.createTextNode(strJson[i].nome);
	            cell.appendChild(cellText);
				row.appendChild(cell);
				tblBody.appendChild(row);
	            
				for ( var m = 0 ; m < strJson[i].mes.length; m++){
					var rowM = document.createElement("tr")
					var cellM = document.createElement("td");
					if ( m % 2 == 0 )
						cellM.setAttribute("style", 'border:1px solid black;background-color: #EAEAEA');
		            else
		            	cellM.setAttribute("style", 'border:1px solid black;background-color: #F6F6F6');
					var subColM = 1+strJson[i].mes[m].itensDoados.length;
					cellM.setAttribute("rowspan",subColM);
					var cellMText = document.createTextNode(strJson[i].mes[m].descricao);
					cellM.appendChild(cellMText);
					rowM.appendChild(cellM);
					tblBody.appendChild(rowM);
					
					for ( var d = 0 ; d < strJson[i].mes[m].itensDoados.length; d++ ) {
						var rowD = document.createElement("tr")
						var cellD = document.createElement("td");
					    cellD.setAttribute("style", 'border:1px solid black;background-color: #F6F6F6');
						var cellDText = document.createTextNode(strJson[i].mes[m].itensDoados[d].tipo+ " = "+ strJson[i].mes[m].itensDoados[d].quantidade);
						cellD.appendChild(cellDText);
						rowD.appendChild(cellD);
						tblBody.appendChild(rowD);
					}

				}

		        tbl.appendChild(tblBody);
		        body.appendChild(tbl);
		        tbl.setAttribute("border", "0");
		    }
			$('#AjaxLoader').hide();
			},
			error: function(e){
				console.log('ERRO:' + JSON.stringify(e));
			}
		});
	}); 
});

</script>
</html>
