<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../image/caridade.ico}" />
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../css/menu-customer.css" rel="stylesheet" />
<script type="text/javascript" src="../js/moderniz.2.8.1.js"></script>

</head>
<body>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
	

	<div class="container-fluid">
		<table id="selecao" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
			<thead>
				<tr>
					<th><h5>Data Doação</h5><input id="dtDoacao" name="dtD" type="date"></th>
					<th>
						<h5>Instituição</h5> 
						<select id="instituicao" name="instituicao" class="w3-select w3-select w3-border w3-margin-bottom" required>
							<option value="" >Selecione</option>
							<option  th:each="instituicao: ${instituicoes}"  th:value="${instituicao.id}" th:data-instname="${instituicao.nome}" th:text="${instituicao.nome}" ></option>
						</select>
					</th>
					<th>
						<h5>Item</h5> <select id="doacao" name="doacao"
						class="w3-select w3-select w3-border w3-margin-bottom" required>
							<option value="" >Selecione</option>
							<option th:each="doacao: ${itensDoacao}" th:value="${doacao.codItem}" th:data-doaname="${doacao.item}" th:text="${doacao.item}" ></option>

					</select>
					<input type=hidden name=instname id=instname />
					<input type=hidden name=doaname id=doaname />
					</th>
					<th><h5>Quantidade</h5>
						<input id="qtdItem" name="qtdD" type="tel">
					</th>
				</tr>
			</thead>
		</table>
		<div class="row">
			<div class="col-md-12">
				<button id="salva" type="button" class="btn btn-default">Salva Doacao</button>
				<button id="adciona" type="button" class="btn btn-default">Add</button>
				<button id="clear" type="button" class="btn btn-default">Limpa</button>
				<button id="removeSelected" type="button" class="btn btn-default">Remove Selecionado</button>
				<!--div class="table-responsive"-->
				<table id="grid" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
					<thead>
						<tr>
							<th data-column-id="id" data-identifier="true" data-type="numeric" data-width="10%">ID</th>
							<th data-column-id="codDoacao" data-type="numeric" data-visible="false" data-width="10%">ID Doação</th>
							<th data-column-id="item" data-order="asc" data-align="center" data-header-align="center" data-filterable="true" data-width="20%">Produto</th>
							<th data-column-id="quantidade" data-width="10%" data-visible="true" data-edit="true" data-input="true">Quantidade</th>
							<th data-column-id="dataDoacao" data-type="date" data-width="10%">Data Doação</th>
							<th data-column-id="nomeInst" data-filterable="true" data-width="20%">Instituição</th>
							<th data-column-id="codInstituicao" data-type="numeric" data-visible="false" data-width="10%">ID Instituição</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<!--/div-->
			</div>
			<div id="saida" class="col-md-3 visible-md visible-lg"></div>
		</div>
	</div>
	<script src="../lib/jquery-1.11.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../dist/jquery.bootgrid.js"></script>
	<script src="../dist/jquery.bootgrid.fa.js"></script>
<script>
var idLine = 0;


$('#instituicao').change(function () {
	var instname=$(this).find('option:selected').attr('data-instname');
	$('#instname').val(instname);
	});

$('#doacao').change(function () {
	var doaname=$(this).find('option:selected').attr('data-doaname');
	$('#doaname').val(doaname);
	});

$(document).ready(function() {
	$("#grid").bootgrid({
			formatters : {
				"link" : function(column, row) {
					return "<a href=\"#\">" + column.id + ": "
							+ row.id + "</a>";
				}
			},
			rowCount : [ -1, 10, 50, 75 ]
		});
		$("#adciona").on("click",function() {
				//console.log('ADD:');
				if ( $('#instituicao').val() !== "" && 
					 $('#doacao').val() !== "" && 
					 $('#qtdItem').val() !== "" &&
					 $('#dtDoacao').val() !== "" ){
				$("#grid").bootgrid("append",[{
					id :idLine,
					codDoacao : $('#doacao').val(),
					item : $('#doaname').val(),
					quantidade : $('#qtdItem').val(),
					codInstituicao : $('#instituicao').val(),
					nomeInst : $('#instname').val(),
					dataDoacao : $('#dtDoacao').val()
				}]);
				idLine++;
				}
				//console.log('ADDED:');
			}); 
	$("#salva").on(
			"click",
			function() {
				var dataSend = $('#grid').bootgrid().data(
						'.rs.jquery.bootgrid').rows;//$('#grid').bootgrid();
				$.ajax({
					  type: "POST",
					  url: "inserir",
					  contentType: "application/json; charset=utf-8",
					  data: JSON.stringify(dataSend),
					  //data: JSON.parse(dataSend),
					  success: function() {
						  alert("Registrado");
					  }
				});
				//console.log('Teste' + JSON.stringify(dataSend));
				$("#grid").bootgrid("clear");
			});

	$("#clear").on("click", function() {
		$("#grid").bootgrid("clear");
	});

	$("#removeSelected").on("click", function() {
		$("#grid").bootgrid("remove");
	});
});
</script>	
	
<!-- div th:replace="fragmentos/footer :: rodape"></div--></body>
</html>

