<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title>NSL</title>
<link rel="shortcut icon" th:href="@{./image/caridade.ico}" />
<link href="./css/bootstrap.css" rel="stylesheet" />
<link href="./dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="./css/menu-customer.css" rel="stylesheet" />
<link href="./css/card-customer.css" rel="stylesheet" />
<link href="./css/fontes-customer.css" rel="stylesheet" />
<link href="./css/map.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="js/moderniz.2.8.1.js"></script> -->
<head>
<body>
	<header>
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: menu"></div>
	</header>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-content">
							<span class="card-sub" th:text="${'Acholhida de Quarta as 19:00h'}"></span>
							<div th:if="${participantesQuinta}" th:each="participante: ${participantesQuinta}">
									<span class="card-text" th:text="${participante.nome}"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-content">
							<span class="card-sub" th:text="${'Acholhida de Sabado as 16:00h'}"></span>
							<div th:if="${participantesSabado}" th:each="participante: ${participantesSabado}">
									<span class="card-text" th:text="${participante.nome}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-content">
							<span class="card-sub" th:text="${'Acholhida de Domingo as 09:00h'}"></span>
							<div th:if="${participantesDomingoM}" th:each="participante: ${participantesDomingoM}">
									<span class="card-text" th:text="${participante.nome}"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-content">
							<span class="card-sub" th:text="${'Acholhida de Domingo as 11:00h'}"></span>
							<div th:if="${participantesDomingoT}" th:each="participante: ${participantesDomingoT}">
									<span class="card-text" th:text="${participante.nome}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-content">
							<span class="card-sub" th:text="${'Acholhida de Domingo as 19:30h'}"></span>
							<div th:if="${participantesDomingoN}" th:each="participante: ${participantesDomingoN}">
									<span class="card-text" th:text="${participante.nome}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="slideshow-container" onmouseenter="pauseSlides()" onmouseleave="startSlides()">
				<div th:if="${imagens}" th:each="imagem: ${imagens}">
					<div class="mySlides">
						<img th:src="@{${#strings.concat('./image/',imagem)}}" style="width:100%">
					</div>
				</div>
				<!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a> -->
				<br>
				<div style="text-align:center" >
			   		<span class="dot" th:if="${imagens}" th:each="imagem, iter : ${imagens}" th:onclick="'currentSlide('+${iter.index}+')'"></span> 
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div style="text-align:center; color: #B94F19;"><h4><b>Oremos</b></h4></div>
			<table> 
	 			<tbody>
					<tr th:each="oracao: ${oracao}">
						<td class="col">
							<span th:utext="${oracao.texto}"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="fragmentos/footer :: rodape"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	var slideIndex = 0;
	var posicao = 0;
	var interval;
	var slideIndex = 1;
	var millis = 5000;
  
	startSlides();
	  
	function startSlides(){
	    pauseSlides();
	    nextSlide();
	    interval = setInterval(nextSlide, millis);
	}
	
	
	function resumeSlides() {
		nextSlide();
	}
	
	function pauseSlides() {
	    clearInterval(interval);
	}
	
	function nextSlide() {
	    showSlide();
	    slideIndex++;
	}
	
	function plusSlides(n) {
	    clearInterval(interval);
	    slideIndex += n;
	    nextSlide();
	    interval = setInterval(nextSlide, millis);
	}
	
	function currentSlide(n) {
	    clearInterval(interval);
	    slideIndex = n + 1;
	    nextSlide();
	    interval = setInterval(nextSlide, millis);
	}
	
	function showSlide() {
	    var i;
	    var slides = document.getElementsByClassName("mySlides");
	    var dots = document.getElementsByClassName("dot");
	    for (i = 0; i < slides.length; i++) {
	      slides[i].style.display = "none";
	    }
	    if (slideIndex > slides.length) {
	      slideIndex = 1;
	    }
	    if (slideIndex < 1) {
	      slideIndex = slides.length;
	    }
	    for (i = 0; i < dots.length; i++) {
	      dots[i].className = dots[i].className.replace(" active", "");
	    }
	    slides[slideIndex - 1].style.display = "block";
	    dots[slideIndex - 1].className += " active";
	}
	</script>
</body>
</head>
</html>
