<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{image/caridade.ico}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="css/menu-customer.css" rel="stylesheet" />
<link href="css/login-duarte.css" rel="stylesheet" />
<script type="text/javascript" src="js/moderniz.2.8.1.js"></script>
<link href="css/signin.css" rel="stylesheet">
</head>
<body>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
<div class="home-page" th:style="'background-image:url(' + @{/image/festa_pier.jpg} + ');'">
    <div class="container-login text-center">
    	<form method="POST" action="login" class="form-signin pb-3  ${error != null ? 'has-error' : ''} " style="background-color:#ff8533; border-radius: 30px 30px 30px 30px;">
		  <h1 class="h3 mb-3 font-weight-normal">Acessar como administrador</h1>
		  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		  <label for="username" class="sr-only">Email address</label>
		  <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
		  <label for="password" class="sr-only">Password</label>
		  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		  <div class="checkbox mb-3">
		    <label>
		      <input type="checkbox" value="remember-me"> Remember me
		    </label>
		  </div>
		  <button class="btn btn-lg btn-primary btn-block btn-sm" type="submit">Log in</button>
	  	</form>
	</div>
    
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
