<nav th:fragment="cabecalho">
	<ul class="menu">
		<li><a href="/caridade">Home</a></li>
		<!-- li th:if="${usuFound != null}"-->
		<li>
		<a href="#" >Cadastro Doações</a>
			<ul>
				<li><a id="cadastro" href="/caridade/doacao/preparar" >Retirada</a></li>
				<li><a href="/caridade/doacao/listar">Itens</a></li>
			</ul>
		</li>
		<li><a href="#">Relatórios</a>
			<ul>
				<li><a href="/caridade/doacao/anual">Geral Anual</a></li>
				<li><a href="/caridade/doacao/mensal">Mensal por Instituição</a></li>
				<li><a href="/caridade/instituicao/listar">Instituições</a></li>
			</ul></li>
	</ul>
</nav>
