<nav th:fragment="cabecalho">
	<ul class="menu">
		<li><a href="/caridade">Home</a></li>
		<!-- li th:if="${usuFound != null}"-->
		<li>
		<a href="#" >Cadastros</a>
			<ul>
				<li><a href="/caridade/doacao/preparar" >Retirada</a></li>
				<li><a href="/caridade/doacao/listar">Lisa de Itens</a></li>
				<li><a href="/caridade/usuario/lista">Lista de Participantes</a></li>
				<li><a href="/caridade/usuario/lista/gt">Lista Coordenadores</a></li>
				<li><a href="/caridade/usuario/cadastro">Cadastro Participante</a></li>
				<li><a href="/caridade/doacao/itens">Cadastro Itens</a></li>
			</ul>
		</li>
		<li><a href="#">Relatórios</a>
			<ul>
				<li><a href="/caridade/doacao/anual">Geral Anual</a></li>
				<li><a href="/caridade/doacao/mensal">Mensal por Instituição</a></li>
				<li><a href="/caridade/instituicao/listar">Instituições</a></li>
			</ul>
		</li>
		<li><a href="/caridade/calendario/listar">Calendario</a></li>
		<li><a href="/caridade/documento/diretriz">Diretriz</a></li>
	</ul>
</nav>
