<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../../image/caridade.ico}" />
<link href="../../css/bootstrap.css" rel="stylesheet" />
<link href="../../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../../css/menu-customer.css" rel="stylesheet" />
<link href="../../css/fontes-customer.css" rel="stylesheet" />
<script type="text/javascript" src="../../js/moderniz.2.8.1.js"></script>

</head>
<body>
	<header>
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: menu"></div>
	</header>
	

	<div class="container-fluid">
		<table id="selecao" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
			<thead th:each="participante: ${participante}">
				<tr>
					<th><h5>Nome</h5>
						<input type=hidden name=idUsuario id=idUsuario th:value="${participante.idUsuario}"/>
						<input id="nome" name="nome" type="tel" th:value="${participante.nome}"></input>
					</th>
					<th><h5>Data Nascimento</h5><input id="data_nascimento" name="data_nascimento" type="date" th:value="${participante.dataNascimento}"></th>
					<th><h5>Tipo Sanguinio</h5>
						<select id="tipo_sangue" name="tipo_sangue">
							<option th:text="${participante.tipoSangue}"></option>
							<option >O+</option>
							<option >O-</option>
							<option >A+</option>
							<option >A-</option>
							<option >AB+</option>
							<option >AB-</option>
						</select>
					</th>
				</tr>
				<tr>
					<th><h5>E-mail</h5><input id="email" name="email" type="tel" th:value="${participante.email}"></th>
					<th><h5>Celular</h5><input id="celular" name="celular" type="tel" placeholder="(99) 9999-9999" th:value="${participante.celular}"></th>
				</tr>
				<tr>
					<th><h5>Endereco</h5><input id="endereco" name="endereco" type="tel" th:value="${participante.endereco}"></th>
					<th><h5>Complemento</h5><input id="complemento" name="complemento" type="tel" th:value="${participante.complemento}"></th>
					<th><h5>Bairro</h5><input id="bairro" name="bairro" type="tel" th:value="${participante.bairro}"></th>
				</tr>
				<tr>
					<th><h5>Cidade</h5><input id="cidade" name="cidade" type="tel" th:value="${participante.cidade}"></th>
					<th><h5>UF</h5>
						<select id="uf" name="uf">
							<option th:text="${participante.uf}"></option>
							<option >SP</option>
							<option >RJ</option>
							<option >PR</option>
							<option >SC</option>
							<option >RS</option>
							<option >DF</option>
							<option >RO</option>
							<option >AC</option>
							<option >AM</option>
							<option >RR</option>
							<option >PA</option>
							<option >AP</option>
							<option >TO</option>
							<option >MA</option>
							<option >PI</option>
							<option >CE</option>
							<option >RN</option>
							<option >PB</option>
							<option >PE</option>
							<option >AL</option>
							<option >SE</option>
							<option >BA</option>
							<option >MG</option>
							<option >ES</option>
							<option >MS</option>
							<option >MT</option>
							<option >GO</option>
						</select>
					</th>
					<th><h5>CEP</h5><input id="cep" name="cep" type="tel" th:value="${participante.cep}"></th>
				</tr>
				<tr>
					<th><h5>Missa para Acolhida de alimento</h5>
						<select id="missa_acolhida" name="missa_acolhida">
							<option th:text="${participante.missaAcolhida}"></option>
						</select>
					</th>
					<th><h5>Horario da Missa</h5>
						<select id="horario_acolhida" name="horario_acolhida">
							<option th:text="${participante.horarioAcolhida}"></option>
		      				<option >20:00h</option>
		      				<option >16:00h</option>
		      				<option >09:00h</option>
		      				<option >11:00h</option>
		      				<option >19:30h</option>
						</select>
						<input type=hidden name="horario_acolhida" id="horario_acolhida" th:value="${participante.horarioAcolhida}"/>
					</th>
					<th><h5>Semana para Acolhida de alimento</h5>
						<select id="semana" name="semana">
							<option th:text="${participante.semana}"></option>
		      				<option >1</option>
		      				<option >2</option>
		      				<option >3</option>
		      				<option >4</option>
		      				<option >5</option>
						</select>
					</th>
					<th><h5>Status</h5>
						<select id="status" name="status">
							<option th:text="${participante.status}"></option>
		      				<option >A</option>
		      				<option >I</option>
						</select>
					</th>
				</tr>
			</thead>
		</table>
		<div class="row">
			<div class="col-md-12">
				<button id="atualiza" type="button" class="btn btn-default">Altualiza</button>
				<button id="volta" type="button" class="btn btn-default">Volta</button>
			</div>
		</div>
	</div>
<script src="../../lib/jquery-1.11.1.min.js"></script>
<script src="../../dist/jquery.bootgrid.js"></script>
<script src="../../dist/jquery.bootgrid.fa.js"></script>
<script src="../../js/bootstrap.bundle.js"></script>
<script src="../../dist/jquery.mask.js"></script>
<script>

var idLine = 0;
var horaQ = ["19:30"];
var horaQD = ["19:30/09:00","19:30/11:00", "19:30/19:00"];
var horaQS = ["19:30/16:00"];
var horaSD = ["16:00/09:00","16:00/11:00","16:00/19:00"];
var horaS = ["16:00"];
var horaD = ["09:00","11:00","19:00"];
var semanas = [1,2,3,4,5];
var selectS = document.getElementById("semana");
var selectM = document.getElementById("missa_acolhida");
var selectH = document.getElementById("horario_acolhida");
var missas = ["Quinta","Quinta/Sabado","Quinta/Domingo","Sabado","Sabado/Domingo","Domingo"];

$(document).ready(function() {
	$("#celular").mask("(99) 99999-9999");
	$("#cep").mask("99.999-999");
	if ( $('#semana').val() ) {
		carregaSemanas($('#semana').val(),$('#missa_acolhida').val(),$('#horario_acolhida').val());
	} else {
		carregaTodasSemana();
	}
	$("#atualiza").on(
			"click",
			function() {
				var telefone = $('#celular').val()+'';
				telefone = telefone.replace('(','').replace(')','').replace('-','');
				console.log('telefone:'+telefone);
				var dataSend  = [{ "idUsuario" :$('#idUsuario').val(),
					"nome" : $('#nome').val(),
					"endereco" : $('#endereco').val(),
					"complemento" : $('#complemento').val(),
					"bairro" : $('#bairro').val(),
					"cidade" : $('#cidade').val(),
					"uf" : $('#uf').val(),
					"cep" : $('#cep').val(),
					"celular" : telefone,
					"email" : $('#email').val(),
					"dataNascimento" : $('#data_nascimento').val(),
					"tipoSangue" : $('#tipo_sangue').val(),
					"missaAcolhida": $('#missa_acolhida').val(),
					"horarioAcolhida": $('#horario_acolhida').val(),
					"orderGt": 100,
					"semana": $('#semana').val(),
					"status": $('#status').val()}] ;
				$.ajax({
					  type: "POST",
					  url: "altera",
					  contentType: "application/json; charset=utf-8",
					  data: JSON.stringify(dataSend),
					  success: function() {
						  window.location.href = "/caridade/usuario/lista";
						},
						error: function(e) {
							console.log("ERRO "+JSON.stringify(e));
						}
				});
			 });
	$("#volta").on("click",function(){window.location.href = "/caridade/usuario/lista";});
});

$('#missa_acolhida').change(function () {
	var tomissa=$(this).find('option:selected').val();
	var tohora = null;
	switch(tomissa){
	case "Quinta":
		carregaHora(horaQ,tohora);
	break;
	case "Quinta/Sabado":
		carregaHora(horaQS,tohora);
	break;
	case "Quinta/Domingo":
		carregaHora(horaQD,tohora);
	break;
	case "Sabado/Domingo":
		carregaHora(horaSD,tohora);
	break;
	case "Sabado":
		carregaHora(horaS,tohora);
	break;
	case "Domingo":
		carregaHora(horaD,tohora);
	break;
	}
});
function carregaTodasSemana(){
	optionS = document.createElement("option");
	optionS.text = 'Selecione';
	selectS.appendChild(optionS);
	for (var s in semanas) {
		if (semanas.hasOwnProperty(s) ) {
			var option = document.createElement("option");
			option.text = semanas[s];
			carregaTodasMissas();
			selectS.appendChild(option);
		}
	}
}
function carregaSemanas(tosemana,tomissa,tohora){
	for (var s in semanas) {
		if (semanas.hasOwnProperty(s) ) {
			var option = document.createElement("option");
			option.text = semanas[s];
		    if ( semanas[s] == tosemana ) {
		    	option.setAttribute('selected', 'selected');
		    	carregaListaMissa(tomissa);
		    	switch(tomissa){
		    	case "Quinta":
		    		carregaHora(horaQ,tohora);
		    	break;
		    	case "Quinta/Sabado":
		    		carregaHora(horaQS,tohora);
		    	break;
		    	case "Quinta/Domingo":
		    		carregaHora(horaQD,tohora);
		    	break;
		    	case "Sabado/Domingo":
		    		carregaHora(horaSD,tohora);
		    	break;
		    	case "Sabado":
		    		carregaHora(horaS,tohora);
		    	break;
		    	case "Domingo":
		    		carregaHora(horaD,tohora);
		    	break;
		    	case "full":
		    		carregaHora(horaD,tohora);
		    	break;
		    	}
		    } 
			selectS.appendChild(option);
		}
	}
}

function carregaTodasMissas(){
	optionS = document.createElement("option");
	optionS.text = 'Selecione';
	selectM.appendChild(optionS);
	for (var m in missas) {
		if (missas.hasOwnProperty(m) ) {
			var option = document.createElement("option");
			option.text = missas[m];
			selectM.appendChild(option);
		}
	}
}

function carregaListaMissa(tomissa){
	for (var m in missas) {
		if (missas.hasOwnProperty(m) ) {
			var option = document.createElement("option");
			option.text = missas[m];
		    if ( missas[m] == tomissa ) {
		    	option.setAttribute('selected', 'selected');
		    }
		    selectM.appendChild(option);
		}
	}
}

function carregaHora(hora,tohora){

	var length = selectH.options.length;

	for (i = length - 1	; i >= 0; i--) {
		selectH.options[i] = null;
	}
	selectH.options[length] = null;
	
	for (var h in hora) {
		if (hora.hasOwnProperty(h) ) {
			var option = document.createElement("option");
			option.text = hora[h];
		    if ( hora[h] == tohora ) {
		    	option.setAttribute('selected', 'selected');
		    } 
		    selectH.appendChild(option);
		}
	}
}

</script>	
	
<!-- div th:replace="fragmentos/footer :: rodape"></div--></body>
</html>

