<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>NSL</title>
<link rel="shortcut icon" th:href="@{../image/caridade.ico}" />
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../dist/jquery.bootgrid.css" rel="stylesheet" />
<link href="../css/menu-customer.css" rel="stylesheet" />
<link href="../css/fontes-customer.css" rel="stylesheet" />
<script type="text/javascript" src="../js/moderniz.2.8.1.js"></script>

</head>
<body>
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragmentos/header :: cabecalho"></div>
	</header>

	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- div class="table-responsive"-->
				<table id="gridUserGt" class="table table-condensed table-hover table-striped" data-row-select="true" data-keep-selection="true">
					<thead>
						<tr>
							<th data-column-id="nome" data-type="text" data-visible="true" data-filterable="true" data-width="20%" >NOME</th>
							<th data-column-id="celular" data-type="text" data-visible="true" data-width="10%" >TELEFONE</th>
							<th data-column-id="email" data-type="text" data-visible="true" data-width="10%" >E-MAIL</th>
							<th data-column-id="cidade" data-type="text" data-visible="true" data-width="10%" >CIDADE</th>
							<th data-column-id="dataNascimento" data-type="text" data-visible="true" data-width="10%" >ANIVERSÁRIO</th>
							<th data-column-id="gt" data-type="text" data-visible="true" data-width="10%" >COORDENAÇÃO</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="participante: ${participante}">
							<td class="col">
								<span th:text="${participante.nome}"></span>
							</td>
							<td class="col">
								<span th:text="${participante.celular}"></span>
							</td>
							<td class="col">
								<span th:text="${participante.email}"></span>
							</td>
							<td class="col">
								<span th:text="${participante.cidade}"></span>
							</td>
							<td class="col">
								<span th:text="${participante.dataNascimento}"></span>
							</td>
							<td class="col">
								<span th:text="${participante.gt}"></span>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- /div-->
			</div>
			<div id="saida" class="col-md-3 visible-md visible-lg"></div>
		</div>
	</div>
<script src="../lib/jquery-1.11.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../dist/jquery.bootgrid.js"></script>
<script src="../dist/jquery.bootgrid.fa.js"></script>
<script>
$(document).ready(function() {
	$("#gridUserGt").bootgrid({
			formatters : {
				"link" : function(column, row) {
					return "<a href=\"#\">" + column.id + ": "
							+ row.id + "</a>";
				}
			},
			rowCount : [ -1, 10, 50, 75 ]
		});
});
</script>		
	
<!-- div th:replace="fragmentos/footer :: rodape"></div-->
</body>
</html>